@charset "UTF-8";
@import url("https://use.typekit.net/bzw2tem.css");

@font-face {
	font-family: "atkinson";
	src: url("/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf");
}

html,
body {
	background-color: var(--bg-color);
	position: relative;
	width: 100vw;
	margin: 0;
}

.nav {
    left: 20px;
	font-family: 'atkinson';
	position: fixed;
    font-size: 18px;
    font-weight: normal;
	line-height: 22px;
	top: -5px;
	z-index: 2;
	color: var(--font-color);
	text-decoration: none;
}

.name {
	color: var(--font-color);
	text-decoration: none;
}

.name:hover {
	color: var(--name-color);
}

.desc-outer {
	padding-top: 5%;
	padding-bottom: 5%;
}

.desc {
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 8%;
	margin-bottom: 8%;
}

.online-identity {
	font-family: 'lores-12';
	font-weight: 600;
}

.design {
	font-family: 'flower-power';
}

.development {
	font-family: 'aglet-mono';
	font-weight: 600;
}

h1 {
	font-size: 2.5em;
	font-family: 'aktiv-grotesk';
	font-weight: 400;
	font-style: normal;
	line-height: 45px;
	letter-spacing: 0.1px;
	color: var(--font-color);
	text-align: left;
	z-index: 1;
}

h2 {
	font-family: 'atkinson';
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0.3px;
	text-align: left;
	color: var(--font-color);
	margin-top: 30px;
	margin-bottom: -10px;
	margin-left: 4%;
	margin-right: 4%;
}

h3 {
	font-family: 'aktiv-grotesk';
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.5px;
	text-align: left;
	color: var(--name-color);
	margin-top: 15px;
	margin-left: 4%;
	margin-right: 4%;
}

p {
	display: block;
	font-family: 'atkinson';
	font-size: 22px;
	font-weight: normal;
	line-height: 26px;
	color: var(--font-color);
}

.project {
	width: 40vw;
	height: 400px;
	margin: 2%;
	float: right;
	align-content: right;
	padding-bottom: 50px;
}

canvas {
	border-radius: 10px;
}

.header {
	text-decoration: none;
}

.article {
	float: left;
	width: 42%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
}

.projects:after {
	content: "";
	display: table;
	clear: both;
}

:root {
	--font-color: #0f0f0f;
	--bg-color: #fefefe;
	--name-color: #888888;
}

@media (prefers-color-scheme: dark) {
	:root {
		--font-color: #fefefe;
		--bg-color: #0e0e0e;
		--name-color: #454545;
	}
}

::-webkit-scrollbar {
	display: none;
}

a {
	color: var(--font-color);
	text-decoration: none;
}

.links {
	margin-top: 10%;
	display: inline-block;
	text-align: center;
	width: 100vw;
}

.link {
	text-decoration: none;
	color: var(--font-color);
	padding-left: 0px;
	background-repeat: repeat-x;
	background-size: 10% 0em;
	background-position: 0 100%;
	-webkit-transition: 300ms ease;
	transition: 300ms ease;
	position: relative;
}

.link:hover {
	color: var(--font-color);
	text-decoration: none;
	background-size: 100% 1em;
}

span {
	font-family: 'bilo';
	font-weight: 500;
}

.email {
	background-image: -webkit-linear-gradient(#d73a49 0%, #d73a49 100%);
}

.email:hover,
.github:hover,
.linkedin:hover {
	color: var(--bg-color);
}

.github {
	background-image: -webkit-linear-gradient(#6f42c1 0%, #6f42c1 100%);
}

.linkedin {
	background-image: -webkit-linear-gradient(#2867B2 0%, #2867B2 100%);
}

.source {
	background-image: -webkit-linear-gradient(#832161 0%, #832161 100%);
}

@media screen and (max-width:488px) {

	span {
		display: none;
	}

	.nav {
		position: absolute;

	}

	h1 {
		padding-top: 15%;
		font-size: 26px;
		line-height: 29px;
		margin-bottom: 50px;
	}

	h2 {
		font-size: 20px;
		line-height: 34px;
		margin-left: 0%;
		margin-right: 0%;
		margin-bottom: -5%;
	}

	h3 {
		font-size: 18px;
		margin-left: 0%;
		margin-right: 0%;
	}

	.desc {
		padding-left: 4%;
		padding-right: 4%;
	}

	.projects {
		padding-left: 2.5vw;
	}

	.article {
		width: 90vw;
		height: 600px;
		margin-bottom: -10%;
	}

	.project {
		width: 90vw;
		height: 400px;
	}
}

@media screen and (min-width:489px) and (max-width:999px) {

	span {
		display: none;
	}

	.desc {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media screen and (min-width:1000px) and (max-width:1299px) {

	.desc {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media screen and (max-width:1699px) {

	.desc {
		padding-left: 20%;
		padding-right: 20%;
	}
}
