@charset "UTF-8";
@import url("https://use.typekit.net/jjx7czz.css");
@font-face {
	font-family: "atkinson";
	src: url("/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf");
}

body {
    background-color: var(--bg-color);
}

.sr .fooReveal {
    visibility: hidden;
}

h1 {
    display: block;
    font-family: 'atkinson';
    font-size: 3em;
    font-weight: 600;
    line-height: 70px;
    text-transform: none;
    margin-bottom: 32px;
    color: var(--font-color);
}

h5 {
    display: block;
    font-family: 'atkinson';
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    padding-left: 30px;
    color: var(--font-color);
    padding-top: 0px;
}

p {
    display: block;
    font-family: 'atkinson';
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: var(--font-color);
}

.back {
    fill: var(--font-color);
    zoom: 1.3;
    text-decoration: none;
    background-image: none;
}

.back:hover {
    text-decoration: none;
    stroke: 1.4;
}

:root {
    --font-color: #0f0f0f;
    --bg-color: #fefefe;
    --box-color: #888888;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #fefefe;
        --bg-color: #0e0e0e;
        --box-color: #222222;
    }
}

::-moz-selection {
    color: none;
    background-color: none;
}

::selection {
    color: none;
    background-color: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--font-color);
}

a:hover {
    background-position: 0 100%;
    background-size: auto 8px;
    background-repeat: repeat-x;
    text-decoration: none;
    color: var(--font-color);
}

.link:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23690bff' stroke-width='1.5' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.div {
    display: block;
    text-align: left;
    padding-top: 1vh;
    padding-bottom: 2vh;
    width: 50%;
    margin: auto;
}

.image {
    display: inline-block;
    height: 43vh;
    border-radius: 15px;
}

.image-ss {
    display: inline-block;
    height: 43vh;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 15px;
}

/* mobile */

@media screen and (max-width: 767px) {

    h1 {
        font-size: 40px;
        line-height: 44px;
    }

    h2 {
        font-size: 40px;
        line-height: 44px;
    }

    p {
        width: 100%;
    }

    .div-wrapper {
        margin-left: 5%;
        margin-right: 5%;
    }

    .div {
        width: 100%;
    }

    .image {
        height: 31vh;
    }

    .image-ss {
        height: 31vh;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    -webkit-animation: fadeIn ease-in 0.5s;
    -moz-animation: fadeIn ease-in 0.5s;
    animation: fadeIn ease-in 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/* tablet landscape */

@media screen and (min-width:769px) and (max-width:1439px) {
}

/* wide */

@media screen and (min-width:1440px) {
    h1 {
        font-size: 60px;
        line-height: 80px;
    }
}

.back:hover {
    fill: #0096fe;  
}

/* 
@-webkit-keyframes backArrow {
    from {
        fill: var(--font-color);
    }

    to {
        fill: #0096fe;
    }
}

@-moz-keyframes backArrow {
    from {
        fill: var(--font-color);
    }

    to {
        fill: #0096fe;
    }
}

@keyframes backArrow {
    from {
        fill: var(--font-color);
    }

    to {
        fill: #0096fe;
    }
}

.back:hover {
    -webkit-animation: backArrow ease-in 1s;
    -moz-animation: backArrow ease-in 1s;
    animation: backArrow ease-in 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
*/
