body {
    letter-spacing: 0.0em;
    color: #000;
    background: #fffffe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: 100%;
}

p, p2, p3, p4 {
    font-family: "titling-gothic-fb";
    color: #000000;
    font-size: 2.5em;
    text-align: left;
    margin-left: 7%;
}

ul {
    margin-bottom: -15px;
}

.about {
    font-family: "titling-gothic-fb";
    color: #000000;
    font-size: 0.8em;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -30px;
}

.linktext {
    font-family: 'titling-gothic-fb';
    font-weight: 100;
    font-size: 100%
}

a.link:hover {
    font-size: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23690bff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 8px;
    background-repeat: repeat-x;
    text-decoration: none;
    color: #000000;
}

a.link {
    color: #000000;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #000000;
    outline: none;
    font-size: 80%;
    line-height: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
