@charset "UTF-8";
@import url("https://use.typekit.net/bzw2tem.css");

@font-face {
    font-family: "atkinson";
    src: url("/Atkinson-Hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf");
}

* {
    margin-left: 0;
    margin-right: 0;
}

body {
    background-color: var(--bg-color);
}

h1 {
    display: block;
    font-family: 'stolzl';
    font-size: 3em;
    font-weight: 500;
    line-height: 70px;
    text-transform: none;
    margin-bottom: 32px;
    color: var(--font-color);
}

.nav {
    left: 20px;
    font-family: 'atkinson';
    position: fixed;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    top: -5px;
    z-index: 2;
    color: var(--box-color);
    text-decoration: none;
}

.name {
    color: var(--font-color);
    text-decoration: none;
}

.name:hover {
    color: var(--box-color);
}

p {
    display: block;
    font-family: 'atkinson';
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
    color: var(--font-color);
}

.p {
    font-family: 'aktiv-grotesk';
    line-height: 28px;
}

.back {
    fill: var(--bg-color);
    zoom: 1.5;
    stroke: var(--font-color);
    text-decoration: none;
    background-image: none;
}

.back:hover {
    text-decoration: none;
    stroke: var(--font-color);
    fill: var(--font-color);
}

.back:hover path {
    stroke: var(--bg-color);
}

:root {
    --font-color: #0f0f0f;
    --bg-color: #fefefe;
    --box-color: #888888;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #fefefe;
        --bg-color: #0e0e0e;
        --box-color: #454545;
    }
}

::-webkit-scrollbar {
    display: none;
}

.links {
    margin-top: 5%;
    display: block;
    text-align: center;
    width: 100vw;
    z-index: 2;
}

.link {
    font-family: 'atkinson';
    text-decoration: none;
    color: var(--font-color);
    padding-left: 0px;
    background-repeat: repeat-x;
    background-size: 0% 0em;
    background-position: 0 100%;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    position: relative;
}

.link:hover {
    color: var(--font-color);
    text-decoration: none;
    background-size: 100% 1em;
}

span {
    font-family: 'bilo';
    font-weight: 500;
}

.email:hover,
.github:hover,
.linkedin:hover {
	color: #fefefe;
}

.to {
    text-decoration: underline;
}

.to,
.email {
    background-image: -webkit-linear-gradient(blue 0%, blue 100%);
}

.github {
    background-image: -webkit-linear-gradient(blue 0%, blue 100%);
    /* #6f42c1 */
}

.linkedin {
    background-image: -webkit-linear-gradient(blue 0%, blue 100%);
    /* #2867B2 */
}

.div {
    display: block;
    text-align: left;
    padding-top: 1vh;
    width: 50%;
    margin: auto;
}

.gif {
    left: 0px;
    width: 50vw;
    border-radius: 10px;
}

.image {
    display: inline-block;
    height: 43vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.image-ss {
    display: block;
    height: 43vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.image-fullwidth {
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {

    span,
    .links {
        display: none;
    }

    * {
        max-width: 95vw;
    }

    body {
        margin: 0;
    }

    .nav {
        position: absolute;
    }

    h1 {
        padding-top: 15%;
        font-size: 40px;
        line-height: 44px;
    }

    h2 {
        font-size: 40px;
        line-height: 44px;
    }

    p {
        width: 100%;
    }

    .div {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .gif {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .image,
    .image-ss,
    .image-fullwidth {
        height: 43vh;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .image-ss {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width:769px) and (max-width:1439px) {

    span,
    .links {
        display: none;
    }

    .back {
        position: fixed;
        left: 20px;
        bottom: 20px;
        z-index: 2;
    }
}

@media screen and (min-width:1440px) {

    h1 {
        font-size: 60px;
        line-height: 80px;
    }

    .back {
        position: fixed;
        left: 20px;
        bottom: 20px;
        z-index: 2;
    }
}
