@charset "UTF-8";
@import url("https://use.typekit.net/ttt1zja.css");

@font-face {
    font-family: "elgoc";
    src: url("/fonts/Elgoc-Regular");
}

h2,
h3,
p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    margin-left: 0;
    margin-right: 0;
}

body {
    background-color: var(--bg-color);
}

h1 {
    display: block;
    font-family: 'elgoc';
    font-size: 4em;
    font-weight: 500;
    line-height: 70px;
    text-transform: none;
    padding-top: 5%;
    margin-bottom: 10px;
    color: var(--font-color);
}

.nav {
    left: 5%;
    position: fixed;
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
    top: 1%;
    z-index: 2;
    color: var(--name-color);
    text-decoration: none;
}

.name2 {
    color: var(--font-color);
    text-decoration: none;
}

.name2:hover {
    color: var(--name-color);
}

p {
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    color: var(--font-color);
}

.p {
    line-height: 28px;
}

.back {
    fill: var(--bg-color);
    zoom: 1.5;
    stroke: var(--font-color);
    text-decoration: none;
    background-image: none;
}

.back:hover {
    text-decoration: none;
    stroke: var(--font-color);
    fill: var(--font-color);
}

.back:hover path {
    stroke: var(--bg-color);
}

:root {
    --font-color: #0f0f0f;
    --bg-color: #D9D7DD;
    --name-color: #666A86;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #fefefe;
        --bg-color: #1C1D22;
        --name-color: #5C6270;
    }
}

::-webkit-scrollbar {
    display: none;
}

.links {
    right: 5%;
    position: fixed;
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
    top: 1%;
    z-index: 2;
    color: var(--font-color);
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: var(--font-color);
    padding-left: 0px;
    background-repeat: repeat-x;
    background-size: 0% 0em;
    background-position: 0 100%;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    position: relative;
}

.link:hover {
    color: #fefefe;
    text-decoration: none;
    background-size: 100% 1em;
}

.to {
    text-decoration: underline;
}

.to,
.email {
    background-image: -webkit-linear-gradient(var(--name-color) 0%, var(--name-color) 100%);
}

.github {
    background-image: -webkit-linear-gradient(var(--name-color) 0%, var(--name-color) 100%);
    /* #6f42c1 */
}

.linkedin {
    background-image: -webkit-linear-gradient(var(--name-color) 0%, var(--name-color) 100%);
    /* #2867B2 */
}

.div {
    display: block;
    text-align: left;
    width: 50%;
    margin: auto;
}

.gif {
    left: 0px;
    width: 50vw;
    border-radius: 7.5px;
}

.image {
    display: inline-block;
    height: 43vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7.5px;
}

.image-ss {
    display: block;
    height: 43vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7.5px;
}

.image-fullwidth {
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7.5px;
}

@media screen and (max-width: 767px) {

    span,
    .links {
        display: none;
    }

    * {
        max-width: 95vw;
    }

    body {
        margin: 0;
        width: 90vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    .nav {
        position: relative;
        left: 0%;
    }

    h1 {
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 2.5%;
    }

    h2 {
        font-size: 40px;
        line-height: 44px;
    }

    p {
        width: 90vw;
    }

    .p {
        font-size: 18px;
        line-height: 24px;
    }

    .div {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .gif {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .image,
    .image-ss,
    .image-fullwidth {
        height: 43vh;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .image-ss {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width:769px) and (max-width:1439px) {

    span,
    .links {
        display: none;
    }

    .back {
        position: fixed;
        left: 5%;
        bottom: 3%;
        z-index: 2;
    }
}

@media screen and (min-width:1440px) {

    h1 {
        line-height: 80px;
    }

    .back {
        position: fixed;
        left: 5%;
        bottom: 3%;
        z-index: 2;
    }
}
